<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tencent.seventeenShow.backend.dao.ImageMapper">
    <select id="getImage" resultType="Image" parameterType="Map">
        select concat(${imgRoot},url) as url, author from images where third_id = #{thirdId} and third_type = #{thirdType};
    </select>

    <insert id="addImage" parameterType="Map">
        insert into images (url,third_type,third_id) value(#{url},#{thirdType},#{thirdId})
    </insert>
    <!--<select id="getWorkerByCityId" resultMap="workerMap">-->
        <!--select code,`name`,`level`,photo,user_id,phone,company,id_code,`type` from worker_info where city_id = #{cityId};-->
    <!--</select>-->

</mapper>